.manage-device {
  height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: column;
  .bar {
    position: relative;
    min-height: 2rem;
    h2 {
      height: 2rem;
    }
    .only-mobile {
      .mask-layer {
        z-index: 1000000000;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(95, 70, 45, 0.05);
        top: 0;
        left: 0;
      }
      button {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
  }
  .content {
    border-top: 1px solid #969696;
    height: 100%;
    overflow: hidden;
  }
}
