.manage-device-preview {
  .device-details {
    h2 {
      margin: 0.5rem 0;
    }
    .list {
      text-align: left;
      padding: 0 16px;
      display: grid;
      grid-gap: 6px;
      p {
        padding: 4px;
        background-color: rgba(207, 249, 255, 0.3);
        display: grid;
        grid-template-columns: 130px 1fr;
        &:last-child:nth-child(odd) {
          grid-column: 1/3;
        }
        .title {
          font-weight: bold;
        }
      }
    }
  }
}
