.main-preview {
  height: 100%;
  background-color: #cdc9e8;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  .device-catagory {
    min-height: 36px;
    span {
      cursor: pointer;
      background-color: blanchedalmond;
      border-bottom: 1px solid #969696;
      // line-height: 200%;
      // margin: auto 0;
      padding: 9px 0 6px 0;
      width: 33.333333%;
      min-width: 130px;
      flex-grow: 1;
      &:hover {
        background-color: rgb(255, 198, 133);
      }
    }
  }
  .playground {
    height: 100%;
    position: relative;
    .wrap-device {
      position: absolute;
      .device-icon {
        height: 100px;
        border-radius: 4px;
        transition: background-color 0.3s;
        img {
          height: 100%;
        }
      }
      .title-device {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 4px 0 0;
        span {
          background-color: rgba(255, 224, 207, 0.75);
          border-radius: 4px;
          padding: 0 4px;
        }
      }
      .device-btn-options {
        background-color: transparent;
        outline: transparent;
        padding: 0;
        border: none;
        height: 38px;
        position: absolute;
        top: -41px;
        left: 31px;
        opacity: 0.8;
        img {
          height: 100%;
          background-color: rgb(200, 237, 255);
          border-radius: 50%;
        }
      }
      .device-options {
        width: 140%;
        position: absolute;
        left: -20%;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgba(216, 192, 192, 0.705);
        img {
          height: 38px;
          background-color: #ffdae1;
        }
      }
    }

    .svg-btn-options {
      position: absolute;
      z-index: 5;
      opacity: 0.8;
      border-radius: 50%;
      img {
        height: 100%;
        background-color: #ffeccebf;
        border-radius: 50%;
      }
      .option {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        opacity: 0.9;
        background-color: #ffcecebf;
      }
    }

    .svg-options {
      position: absolute;
    }

    .svg-line {
      position: absolute;
      .line {
        stroke: #a4fff5;
        stroke-linecap: square;
        stroke-dasharray: 0 10;
        stroke-miterlimit: 5;
        stroke-linejoin: round;
        stroke-width: 6px;
        // &:hover{
        // cursor: pointer;
        // stroke: #3f90ff;
        // }
      }
    }
  }
}
