.main {
  height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: column;
  .bar-device {
    position: relative;
    h2 {
      height: 2rem;
    }
    button {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
    .menu-list-mobile {
      position: absolute;
      top: 100%;
      background-color: #fff8cf;
      border: 1px solid rgba(51, 44, 0, 0.5);
      box-shadow: 0px 0px 2px 0px rgba(70, 70, 70, 0.8);
      min-width: 60vw;
      width: 250px;
      max-width: 75vw;
    //   max-height: calc(100vh - 4.5rem);
      max-height: calc(100vh - 9rem);
      overflow: auto;
    }
  }
  .preview-device {
    border-top: 1px solid #969696;
    height: 100%;
  }
}
