.main-preview {
  height: 100%;
  background-color: #cdc9e8;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  .device-catagory {
    min-height: 36px;
    span {
      cursor: pointer;
      background-color: blanchedalmond;
      border-bottom: 1px solid #969696;
      // line-height: 200%;
      // margin: auto 0;
      padding: 9px 0 6px 0;
      width: 33.333333%;
      min-width: 130px;
      flex-grow: 1;
      &:hover {
        background-color: rgb(255, 198, 133);
      }
    }
  }
  .playground {
    height: 100%;
    position: relative;
    .wrap-device{
      position: absolute;
    }
    .device-icon {
      position: relative;
      height: 100px;
      width: 100px;
      padding: 4px;
      border-radius: 4px;
      transition: background-color 0.3s;
      &:hover {
        background-color: rgba(255, 212, 189, 0.5);
        // background-color: rgb(255, 212, 189);
      }
      img {
        height: 100%;
      }
    }
    svg {
      position: absolute;
      #connection {
        stroke-width: 1.5px;
        stroke: red;
      }
    }
  }
}
