.main-preview {
  height: 100%;
  background-color: #cdc9e8;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  .device-catagory {
    min-height: 36px;
    span {
      cursor: pointer;
      background-color: blanchedalmond;
      border-bottom: 1px solid #969696;
      // line-height: 200%;
      // margin: auto 0;
      padding: 9px 0 6px 0;
      width: 33.333333%;
      min-width: 130px;
      flex-grow: 1;
      &:hover {
        background-color: rgb(255, 198, 133);
      }
    }
  }
  .playground {
    height: 100%;
    position: relative;
    .wrap-device {
      height: 100px;
      width: 100px;
      position: absolute;
      .device-icon {
        height: 100%;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.3s;
        img {
          height: 100%;
        }
      }
      .title-device {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        span {
          background-color: rgba(255, 224, 207, 0.75);
          border-radius: 4px;
          padding: 0 4px;
        }
      }
    }
    svg {
      position: absolute;
      .line-connection {
        stroke: #a4fff5;
        stroke-linecap: square;
        stroke-dasharray: 0 10;
        stroke-miterlimit: 5;
        stroke-linejoin: round;
        stroke-width: 6px;
      }
    }
  }
}
