.manage-device-preview {
  height: 100%;
  background-color: #cdc9e8;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  .categories {
    min-height: 36px;
    span {
      cursor: pointer;
      background-color: blanchedalmond;
      border-bottom: 1px solid #969696;
      // line-height: 200%;
      // margin: auto 0;
      padding: 9px 0 6px 0;
      width: 33.333333%;
      min-width: 130px;
      flex-grow: 1;
      &:hover {
        background-color: rgb(255, 198, 133);
      }
    }
  }
}
